@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 10px 0;
  }
}

.normal-header {
  background-color: #07222e;
  height: 70vh;
  min-height: 300px;
  display: flex;    
  justify-content: center;
  align-items: center;
    background-size: cover;
    h1 {
      color: #fff;
      font-weight: bold;
      font-size: 65px;
      line-height: 158.69%;
  }
  background-image: url('./../img/norm-header.jpg');
  &.adult-image {
    background-image: url('./../img/adult-header.jpg');
    background-position: center;
  }
  &.child-image {
    background-image: url('./../img/child-header.jpg');
    background-position: center bottom;
  }
  &.about-image {
    background-image: url('./../img/about-header.jpg');
    background-position: center;
  }
  &.schedule-image {
    background-image: url('./../img/schedule-header.jpg');
    background-position: center;
  }

  
  @media screen and (max-width: $smDesktopWidth) {
  }
  @media screen and (max-width: $tableWidth) {
    max-height: 500px;
    padding: 10px;
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 12px;
    }
  }
  @media screen and (max-width: $phoneWidth) {
    h1 {
      font-size: 25px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
  @media screen and (max-width: $smDesktopWidth) {
    min-width: 100%;
  }
  @media screen and (max-width: $tableWidth) {
    min-width: 100%;
  }
  @media screen and (max-width: $phoneWidth) {
    min-width: 100%;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

// Modules:
// example: @import "modules/my-module.scss";

.index-page {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    text-align: center;
  }
  .section {  
    padding: 120px;  
    h2 {
      font-weight: bold;
      font-size: 50px;
      line-height: 158.69%;
      color: #0E242C;
      margin-bottom: 10px;
    }
    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 172.69%;
      text-align: center;
      color: #0E242C;
      max-width: 895px;
      margin: auto;
      margin-bottom: 50px;
    }

    
    @media screen and (max-width: $smDesktopWidth) {
      padding: 36px 0;
    }
    @media screen and (max-width: $tableWidth) {
      padding: 28px 0;
      p {
        font-size: 15px;
      }
      h2 {
        font-size: 30px;
      }
    }
    @media screen and (max-width: $phoneWidth) {
      padding: 10px 0;
      p {
        font-size: 13px;
      }
      h2 {
        font-size: 25px;
      }
    }
  }  
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 30px 45px;
  color: $default-color;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  .phone {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 24px;
    line-height: 186.69%;
  }
  a {    
    color: $default-color;

  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .originalListMenu {
    a {
      display: block;
      position: relative;
      &:hover,
      &:active {
        color: $cta-color;
        &::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: $cta-color;
          display: block;
          position: absolute;
        }
      }
    }
  }

  @media screen and (max-width: $smDesktopWidth) {
    padding: 10px 10px;
    .logo svg {
      width: 90px;
    }
  }
  @media screen and (max-width: $tableWidth) {
    .desktop-menu,
    .phone-desktop {
      display: none;
    }
    .collapse-menu {
      display: block;
      .passMenuList {
        display: none;
      }        
      &.active {
        .passMenuList {
          display: block;
        }
      }
    }
  }
  @media screen and (max-width: $phoneWidth) {
  }
}

.main-header {
  background: #07222e url(../img/header.jpg);
  background-size: cover;
  background-position: bottom 0;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  color: #fff;
  .adress {
    p {
      margin: 0;
    }
  }
  p {
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 186.69%;
    a{
      color:#fff;
    }
  }
  h1 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 65px;
    line-height: 158.69%;
  }
  h2 {
    font-weight: normal;
    font-size: 50px;
    line-height: 158.69%;
    margin-bottom: 33px;
  }

  
  @media screen and (max-width: $smDesktopWidth) {
  }
  @media screen and (max-width: $tableWidth) {
    max-height: 500px;
    padding: 10px;
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 12px;
    }
  }
  @media screen and (max-width: $phoneWidth) {
    h1 {
      font-size: 25px;
    }
  }
}


.interesting {
  .images {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;    
    img {
      width: 30%;
      @media screen and (max-width: $smDesktopWidth) {
       width: 47%;
      }
      @media screen and (max-width: $tableWidth) {
       width: 100%;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.adult-climbing {
  background-color: #F0F6FC;
  display: flex;
  .cta:before {
    display: block;
    position: absolute;
    content: '';
    width: 58px;
    height: 60px;
    background-image: url(../img/index/arrow-adult.svg);
    left: -90px;
    background-position: center;
    top: -20px;
  }
}

.cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 86px;
  background: $cta-color;
  border-radius: 4px;
  font-size: 16px;
  line-height: 172.69%;
  color: #FFFFFF;
  width: 300px;
  margin: auto;
  font-weight: bold;
  &:hover {
    background-color: #FF9330;
  }
  @media screen and (max-width: $tableWidth) {
    width: 90%;
   }
}
.topBtn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $cta-color;
  background-image: url(../img/topArrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  opacity: 0;
  transition: 0.3s;
    &:hover {
      opacity: 1;
      background-color: #FF912C;
    }
  &.visible {
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.8;
  }
}

.images { 
  display: flex;
  justify-content: space-between;
  padding-top: 70px; 
  flex-wrap: wrap;
  img {
    margin-bottom: 30px;
  }
  .card {
    max-width: calc(33% - 60px);
    span {
      display: block;
    }
    .name {
      font-weight: bold;
      font-size: 18px;
      line-height: 186.69%;
      color: #0E242C;
      margin-top: 17px;
    }
    .description {
      font-size: 16px;
      line-height: 160.69%;
      color: #0E242C;
      opacity: 0.8;
      margin-top: -5px;
    }
  }
  
  @media screen and (max-width: $tableWidth) {
    .card {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      img {
        margin-bottom: 5px;
      }
      .name {
        margin-top: 0;
      }
    }
}
}

.template-page {
  h2 {    
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 34px;
    line-height: 158.69%;
    color: #0E242C;
  }
  p {
    font-weight: 300;
    font-size: 19.5px;
    line-height: 172.69%;
    color: #0E242C;
    margin-bottom: 10px;
  }
  .section {
    padding: 20px;
  }
  .first-section {
    padding-top: 0;
  }
}


.adultclimbing {
  .simple-list {
    padding-left: 45px;
    position: relative;
    a {
      color: $cta-color;
      text-decoration: underline;
    }
    &>li {
      margin-bottom: 35px;
      &:first-child {
        margin-top: 30px;
      }
    }
    .number {
      left: 0;
      margin-top: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 50%;
      background-color: #FF7F0A;
      position: absolute;
      width: 30px;
      height: 30px;
      font-weight: bold;
      font-size: 18px;
      line-height: 158.69%;
    }
    .question {
      font-weight: bold;
      font-size: 22px;
      line-height: 158.69%;
      color: #0E242C;
      margin-bottom: 9px;
    }
    .answer {
      font-weight: 300;
      font-size: 20px;
      line-height: 172.69%;
      color: #0E242C;
    }
  }
}

.description-block {  
  border-left: 3px solid $cta-color;
  padding: 42px 67px;
  padding-right: 55px;
  background-color: $alternate-back;
  margin-top: 35px;
  margin-bottom: 35px;
  p {
    font-size: 24px;
    line-height: 158.69%;
    color: $dark-text;
    max-width: 1048px;
  }
}
.mark-list {
  li {
    font-weight: 300;
    font-size: 20px;
    line-height: 172.69%;
    color: #0E242C;
    position: relative;
    padding-left: 12px;
    margin-bottom: 5px;
    &::before {
      display: block;
      content: '•';
      position: absolute;
      left: 0;
      color: $cta-color;
    }
  }
  margin-bottom: 30px;
}

.important-href {
  font-weight: 300;
  font-size: 20px;
  line-height: 172.69%;
  text-decoration-line: underline;
  color: $cta-color;
}

.unmark {
  li {
    font-size: 20px;
    line-height: 172.69%;
    color: #0E242C;
    margin-bottom: 5px;
  }
}

.center-text {
  text-align: center;
}

.bolder {
  font-weight: 800;
}

.accent {
  font-weight: 500;
  color: $cta-color;
}

.template-page .semibold {
  font-weight: 500;
}

.template-page span.bolder {
  font-weight: bold;
}

.description-phone {
  .container {
    border-left: 3px solid $cta-color;
    padding: 42px 67px;
    background-color: $alternate-back;
  }
  p {
    font-size: 24px;
    line-height: 158.69%;
    color: $dark-text;
  }
  a {
    font-size: 24px;
    line-height: 158.69%;
    color: $cta-color;
    display: inline-block;
    margin-right: 37px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.child {
  .include-list {
    li {
      font-weight: 300;
      font-size: 20px;
      line-height: 172.69%;
      position: relative;
      padding-left: 12px;
      &::before {
        display: block;
        content: '•';
        position: absolute;
        left: 0;
        color: $cta-color;
      }
    }
  }

  .price-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card {
      padding: 50px 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-right: 30px;
      width: 33%;
      &:last-child {
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        background: #F6F6F6;
        span {
          font-weight: bold;
          font-size: 75.9494px;
          line-height: 158.69%;
          margin-right: 23px;
        }
      }
      p {
        font-weight: 300;
        font-size: 20px;
        line-height: 172.69%;
      }
      span {
        font-weight: 300;
        font-size: 50px;
        line-height: 158.69%;
        color: $cta-color;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .price-table {
      flex-wrap: wrap;
      .card {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
      }
    }

  }
}

.table {
  width: 100%;
  th {
    background: #F7F7F7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 11px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 172.69%;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }
  td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 11px 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 172.69%;
    color: #0E242C;
    vertical-align: middle;
  }
  caption {
    display: none;
  }
}

.template-page .personal {
  .table {
    margin-bottom: 20px;
  }
  .container {
    >p {
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 172.69%;
    }
  }
  margin-bottom: 30px;

}

.price-page {
  .stand-table {
    td:first-child{
      min-width: 296px;
    }
  }
  .margbot30 {
    margin-bottom: 30px;
  }
  .table {
    margin-bottom: 20px;
  }
}

.alpin {
  .section-block {
    margin-bottom: 30px;
  }
  .big-capt {
    margin-bottom: 30px;
  }
  .blocks {
    display: flex;
    >ul {
      margin-right: 70px;
    }
  }
  h3 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 158.69%;
    color: #0E242C;
  }
  .unmark {
    font-weight: 300;
    font-size: 20px;
    line-height: 172.69%;
    color: #0E242C;
    a.tel {
      color: #0E242C;
    }
  }
  @media screen and (max-width: 768px) {
    .blocks {
      flex-wrap: wrap;
    }
  }
}

.about-page {
  p {
    margin-bottom: 15px;
  }
}

.map-container {
  .adress-container {
    position: absolute;
    top: 185px;
    right: 375px;
    background-color: #fff;
    padding: 50px 50px 70px;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.14);
    h3 {
      font-weight: bold;
      font-size: 50px;
      line-height: 158.69%;
      color: #0E242C;
      margin-bottom: 30px;
      text-align: left;
    }
    p {
      font-size: 18px;
      line-height: 159.9%;
      color: #0E242C;
      max-width: 400px;
      margin-bottom: 25px;
    }
    a {
      &.bolder {
        font-weight: bold;
      }
      color: #0E242C;
      text-decoration: none;
    }
  }
  position: relative;
  padding-bottom: 0;

  >div:first-child {
  min-height: 750px;

  }
  @media screen and (max-width: 1550px) {
    .adress-container {
      right: 200px;
    }
  }
  @media screen and (max-width: $smDesktopWidth) {
    .adress-container {
      right: 0;
    }
  }
  @media screen and (max-width: $tableWidth) {
    .adress-container {
      position: relative;
    }
    display: flex;
    flex-direction: column-reverse;
  }
}

footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px ;
  padding-bottom: 27px;
  .social {
    display: flex;
    a {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    .vk {
      margin-right: 30px;
      background-image: url(../../assets/img/vk.svg);
    }
    .inst {
      background-image: url(../../assets/img/inst.svg);
    }
  }
  .policy,
  .allrights {
    color: #0E242C;
    opacity: 0.5;
    font-size: 14px;
    text-decoration: underline;
  }
  @media screen and (max-width: $tableWidth) {
    flex-wrap: wrap;
    align-items: center;
  }
}

.collapse-menu {
  position: relative;
  display: none;
  ul {
    display: flex;
    flex-direction: column;
  }
  &.active {
    .menu-btn {
      background-color: #fff;
      span {background-color: #000;}
    }
  }
  .menu-btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    span {
      display: block;
      height: 1px;
      background: #fff;
      width: 100%;
      margin-bottom: 3px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .passMenuList {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    a {color: #000;}
    li:hover {
      a{
        text-decoration: underline;
      }
    }
  }
}



@media screen and (max-width: 1220px) {
  .main-menu {
  
    .phone-desktop {
      min-width: 145px;
    }
    .desktop-menu {
      ul {
        padding-left: 40px;
        justify-content: flex-start; 
        padding-right: 40px;
        flex-wrap: wrap;
        li {
          
        }
      }
    }
  }
}